body{
	background-color:#daf7a6;
}
.parent{
	display:flex;
	flex-direction:row;
} 
.leftchild{
	width:25%;
	background-color:#548;
	padding:2%;
	margin:2%;
}
.rightchild{
	width:70%;
	background-color:#145;
	padding:2%;
	margin:2%;
}
.profile-image{
	display:block;
	border-radius: 50%;
	vertical-align:middle;
	margin-left:auto;
	margin-right:auto;
	 }
	 H2,H3,H4,H5{
	 	text-align:center;
	 }
@media only screen and (min-width:320px) and (max-width:468px){
.parent{
	display:flex;
	flex-direction:column;
} 
.leftchild{
	width:100%;
	background-color:#ddd;
	padding:2%;
	margin:2%;
}
.rightchild{
	width:100%;
	background-color:#ddd;
	padding:2%;
	margin:2%;
}
}
@media only screen and  (min-width:469px) and (max-width:768px){
.parent{
	display:flex;
	flex-direction:row;
} 
.leftchild{
	width:100%;
	background-color:#548;
	padding:2%;
	margin:2%;
}
.rightchild{
	width:100%;
	background-color:#145;
	padding:2%;
	margin:2%;
}
}
@media only screen and  (min-width:769px) and (max-width:1024px){
.parent{
	display:flex;
	flex-direction:row;
} 
.leftchild{
	width:100%;
	background-color:#fc3123;
	padding:2%;
	margin:2%;
}
.rightchild{
	width:100%;
	background-color:#fc3123;
	padding:2%;
	margin:2%;
}